*{
    padding: 0;
    margin: 0;
}

body {
    background: #FCFCFF;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
}

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
